/* bann and logo */
#banner {
    background-color: #2cc91e;
    height: 128px;
    margin: 0;
    box-shadow: 0 10px 10px #888888;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: .95;
}


#bgimg1 {
    width:100%;
    height: 800px;
}

#logo {
    display: block;
    margin: auto;
}

#midSectionDiv {
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    
}

#midSection {
    border-style: solid;
    border-width: 2px;
    margin: 0;
    background-color: lightgray;
    
}

#toMenu {
    border-style: solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    vertical-align: middle;
    line-height: 200px;
    font-size: 40px;
    background-color: #29bd15;
}

#toGallery {
    border-style: solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    vertical-align: middle;
    line-height: 200px;
    font-size: 40px;
    background-color: white;
}

#toAbout {
    border-style: solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    vertical-align: middle;
    line-height: 200px;
    font-size: 40px;
    background-color: red;
}

#toContacts {
    border-style: solid;
    text-align: center;
    margin-top: 35px;
    margin-right: 50px;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 40px;
    font-size: 20px;
    float: right;
    background-color: white;
    padding: 5px;
    color: #5f5f5f;
    -webkit-transition: all 0.45s ease-in-out;
}

#toContacts:hover {
    background-color: #ff305d;
    color: #c4c2c1;
}
/* change link color */
#toContactLink:link {
    color: #5f5f5f;
}

#ssDiv {
    border-style: solid;
    margin: 0;
    display: block;
    margin-top: 150px;
    background-color: white;
    width: 100%;
    padding: 0;
    
}

#bottomBanner {
    height: 128px;
    margin: 0;
    bottom: 0%;
    width: 100%;
    background-color: red;
    margin-top: 150px;
}

/* Gallery */

.gallery{
    display: block;
    margin: 0 auto;
}

#BeyonceQuote {
    color: turquoise;
    font-size: 25px;
}
#ssBackground{
    background-color: lightgreen;
    
}

