/* bann and logo */
#banner {
    background-color: #2cc91e;
    height: 128px;
    margin: 0;
    box-shadow: 0 10px 10px #888888;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#logo {
    padding-left: 30px;
    display: block;
    margin: auto;
}

#midSectionDiv {
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    
}

#midSection {
    border-style: solid;
    margin: 0;
    padding: 0;
    
}

#toMenu {
    border-style: solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    vertical-align: middle;
    line-height: 200px;
    font-size: 40px;
    background-color: #29bd15;
}

#toGallery {
    border-style: solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    vertical-align: middle;
    line-height: 200px;
    font-size: 40px;
}

#toAbout {
    border-style: solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    vertical-align: middle;
    line-height: 200px;
    font-size: 40px;
    background-color: red;
}

#ssDiv {
    border-style: solid;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 0;
}

/* Gallery */

.gallery{
    display: block;
    margin: 0 auto;
}

#BeyonceQuote {
    color: turquoise;
    font-size: 25px;
}
#ssBackground{
    background-color: lightgreen;
    
}

